<h1> <%= @project.name%> </h1>
<form action="/projects/:id" method="post">
  <label> Edit the Project Name: </label>
  <input type="text" name="project[name]" value="<%=@project.name%>">
  <br></br>
  <label> Date Created: (Month, XX, XXXX)</label>
  <!-- #dropdown --> <input type="text" name="project[date_created]" value="<%=@project.date_created%>">
  <br><br>
  <label> Languages: </label>
  <input type="text" name="project[language]" value="<%=@project.language%>">
  <br>
  <p> Current Summary : <%=@project.summary%><br>
  <label> Note/Summary of Project: </label>
  <textarea rows="4" cols="50" name="project[summary]" value="<%=@project.summary%>"></textarea>
  <br><br>
<input type="submit" name="submit" value="Save">
</form>
