<!-- users homepage showing them only their concerns  -->
<h1>All Your Projects</h1>

<% @projects.each do |project|%>

  <a href="projects/<%=project.id%>"><h4><%= project.name %> - <%= project.date_created %></h4></a>
  <p>Project Summary: <%= project.summary %></p>
  <h4> Concerns </h4>
  <ul><% project.concerns.each do |concern|%>
    <li><a href="/concerns/<%= concern.id %>"> <%=concern.name_of_method%></a> - Error related to: <%= concern.category%> </li>
  <% end %></ul>
  <form method="post" action="/projects/<%= project.id%>/delete">
  <input type="hidden" name="_method" id="hidden" value="DELETE">
  <input type="submit" value="Delete Project"></form><br>
<% end %>
<br><br>
<a href="/projects/new"> Create a new Project </a><br>
<a href="/concerns/new"> Create a new concern </a>

<% if logged_in? %>
  <br><br><a href = "/logout"> Log Out</a>
<% end %>


<!-- Fwitter
A fake twitter built for flatiron
  -  /signup validation
  - /login password format -->
