<!-- #create new concern form  -->

<h1>Concern in <%= @concern.file_name%> File</h1><br>
<p>Located within method: <%= @concern.name_of_method %></p>
<p>Note/Summary of Concern: <%= @concern.note %></p>
<p>Type of Concern: <%= @concern.category %></p>
<form method="post" action="/concerns/<%= @concern.id%>/delete">
<input type="hidden" name="_method" id="hidden" value="DELETE">
<input type="submit" value="Delete Concern"><br><br>
<a href="/concerns/<%= @concern.id%>/edit"> Edit Concern </a><br>
<a href="/concerns">Go Back </a><br>
